.App {
  text-align: center;
}
.BookMain{
  display: flex;
  width: 90%;
  margin: auto;
  margin-top: 50px;
  /* border: 1px solid red; */
}
.FilterSort{
  width: 20%;

}
.booksGrid{
  margin: 10px auto; 
  display: grid;
  gap: 25px;
  grid-template-columns: repeat(3,1fr);
}
.book{
  border: 1px solid black;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 10px;
  height: 85px;
}